.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 15px 15px;
}

.contact_firstDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_img {
    margin-top: 50px;
    width: 200px;
    height: auto;
    border-radius: 30px;
}
.contact_title {
  
    font-size: 22px;
    color: rgb(72, 94, 72);
    font-family: 'Inconsolata', monospace;
}

.contact_links {
    margin: 20px 0 0 0;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 15px;    
}
.link {
    text-decoration: none;
    color: darkolivegreen;
}

.fa-brands,
.fa-solid {
  font-size: 18px;
  margin-left: 12px;
}

.fa-brands:hover, .fa-solid:hover {
    color:tomato;
}

@media (min-width: 768px) {
    .contact_title {
        font-size: 27px;
        color: rgb(72, 94, 72);
        font-family: 'Inconsolata', monospace;
    }
    .contact_img {
        margin-top: 50px;
        width: 350px;
        height: auto;
        border-radius: 30px;
    }
    .contact_links {
        margin: 20px 0 0 25px;
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap: 15px;    
    }
}