.header_nav {
    display: flex;
    justify-content: space-between;
    
}

.header_name {
    color: rgb(205, 127, 63);
    font-size: 46px;
    margin: 25px 0 0 45px;
    font-family: 'Dancing Script', cursive;
    

    
}
.header_list {
    display: flex;

    text-decoration: none;
    color: black;
    
    gap: 32px;
    list-style: none;
    margin: 35px 45px 0 0;
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
}
.link-route {
    text-decoration: none;
    color: rgb(194, 161, 117);
}
.link-route:hover {
    color: tomato;
}