.section {
    margin: 50px 90px 20px 90px;
    display: flex;
    gap: 25px;
}
.article_card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid olive;
   border-radius: 3px;
   height:auto;
   width: 300px;
    
    
}
.img_card {
    height:auto;
    width: 300px;
}
.info_card {
    text-align: center;
    font-family: 'Inconsolata', monospace;

}